In [1]:
#!/usr/bin/env python3
# -*- coding:utf-8 -*-
import requests 
import xmltodict
import json 
import datetime 

def getCovidKR(end_day, start_day):
    url='http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson'
    #ServiceKey는 url decode 한 값임. 
    payload = { 'ServiceKey': 'YQPPwrRUEY7cQuKcSkXq/aJGKvqBq9w2syT03WVzzWvfh8jbk+EkpTTkmQF3TSb3+AvdpZEEh+GafLuAYayjug==',
               'startCreateDt' : '20210101',
               'endCreateDt' : '20210701' }
    res = requests.get(url, params=payload)
    if (res.status_code == 200): # Ordered dictionary type
        result = xmltodict.parse(res.text) #dictionlay type 
        dd = json.loads(json.dumps(result)) 
        print ('누적 확진자:', dd['response']['body']['items']['item'][0]['decideCnt'])
        print ('추가 확진자:', int(dd['response']['body']['items']['item'][0]['decideCnt']) - int(dd['response']['body']['items']['item'][1]['decideCnt']))
        print ('%s일 %s시 기준' %(dd['response']['body']['items']['item'][0]["stateDt"], dd['response']['body']['items']['item'][0]["stateTime"]))
    else: print ('res.status_code is NOT ok') 
        
if __name__ == "__main__":
    today =datetime.datetime.now() 
    yesterday = today - datetime.timedelta(1) 
    d1 = today.strftime("%Y%m%d") 
    d2 = yesterday.strftime("%Y%m%d")
    getCovidKR(d1, d2)

누적 확진자: 157722
추가 확진자: 761
20210701일 00:00시 기준

In [2]:
import requests 
import xmltodict 
import json 
import datetime 
import pandas as pd

url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=YQPPwrRUEY7cQuKcSkXq%2FaJGKvqBq9w2syT03WVzzWvfh8jbk%2BEkpTTkmQF3TSb3%2BAvdpZEEh%2BGafLuAYayjug%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20210101&endCreateDt=20210715'
res = requests.get(url)
sot = res.text

data = xmltodict.parse(sot)
rd = json.loads(json.dumps(data))
dt = rd['response']['body']['items']['item']

df = pd.DataFrame(columns=('누적 확진률','누적 검사 수','누적 검사 완료 수','치료 중 환자 수','격리 해제 수','등록 시간','사망자 수','확진자 수','검사 진행 후','결과 음성 수','게시글 번호','기준 일','기준 시간','수정 시간'))

v = 1

for i in range(0,len(dt)):
    # 누적 확진률
    accDefRate = dt[i]['accDefRate']
    # 누적 검사 수
    accExamCnt = dt[i]['accExamCnt']
    # 누적 검사 완료 수
    accExamCompCnt = dt[i]['accExamCompCnt']
    # 치료 중 환자 수
    careCnt = dt[i]['careCnt']
    # 격리 해제 수
    clearCnt = dt[i]['clearCnt']
    # 등록 시간
    createDt = dt[i]['createDt']
    # 사망자 수
    deathCnt = dt[i]['deathCnt']
    # 확진자 수
    decideCnt = dt[i]['decideCnt']
    # 검사 진행 후
    examCnt = dt[i]['examCnt']
    # 결과 음성 수
    resutlNegCnt = dt[i]['resutlNegCnt']
    # 게시글 번호
    seq = dt[i]['seq']
    # 기준 일
    stateDt = dt[i]['stateDt']
    # 기준 시간
    stateTime = dt[i]['stateTime']
    # 수정 일,시간
    updateDt = dt[i]['updateDt']
    
    df.loc[v] = [accDefRate,accExamCnt,accExamCompCnt,careCnt,clearCnt,createDt,deathCnt,decideCnt,examCnt,resutlNegCnt,seq,stateDt,stateTime,updateDt]
    v += 1

df

,누적 확진률,누적 검사 수,누적 검사 완료 수,치료 중 환자 수,격리 해제 수,등록 시간,사망자 수,확진자 수,검사 진행 후,결과 음성 수,게시글 번호,기준 일,기준 시간,수정 시간
1,1.5982992594,11060456,10855977,14952,156509,2021-07-15 09:46:10.26,2050,173511,204479,10682466,573,20210715,00:00,null
2,1.5878057669,11008859,10826954,14372,155491,2021-07-14 09:47:11.336,2048,171911,181905,10655043,572,20210714,00:00,null
3,1.5789831387,10964299,10785169,13498,154752,2021-07-13 09:45:01.789,2046,170296,179130,10614873,571,20210713,00:00,null
4,1.5741500854,10919898,10745227,12915,154187,2021-07-12 09:43:17.529,2044,169146,174671,10576081,570,20210712,00:00,null
5,1.5666848402,10902278,10726216,12243,153760,2021-07-11 09:32:25.474,2043,168046,176062,10558170,569,20210711,00:00,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,1.5301738554,4439347,4245596,17786,46172,2021-01-05 09:35:18.724,1007,64965,193751,4180631,376,20210105,00:00,2021-04-20 15:45:18.126
193,1.5349522906,4376595,4185863,18030,45240,2021-01-04 09:33:08.918,981,64251,190732,4121612,375,20210104,00:00,2021-04-20 16:05:38.401
194,1.5220420604,4340825,4154353,17762,44507,2021-01-03 09:31:48.677,962,63231,186472,4091122,374,20210103,00:00,2021-04-20 16:10:23.954
195,1.5175366500,4302780,4123393,18054,43578,2021-01-02 09:34:52.775,942,62574,179387,4060819,373,20210102,00:00,2021-04-20 16:11:00.677
196,1.5090011279,4269303,4092376,17884,42953,2021-01-01 09:36:53.691,917,61754,176927,4030622,372,20210101,00:00,2021-04-20 16:11:34.691

In [70]:
df.isnull().sum() # 결측값 없음

누적 확진률        0
누적 검사 수       0
누적 검사 완료 수    0
치료 중 환자 수     0
격리 해제 수       0
등록 시간         0
사망자 수         0
확진자 수         0
검사 진행 후       0
결과 음성 수       0
게시글 번호        0
기준 일          0
기준 시간         0
수정 시간         0
dtype: int64

In [84]:
# 전 날 대비 확진자 수 증가 추이
# 필요 없는 컬럼 제거
df1 = df.copy()
df1.drop(['수정 시간','기준 시간','게시글 번호','누적 확진률','등록 시간','누적 확진률'],axis=1,inplace=True)
date_1 = df1.set_index(['기준 일']).sort_index() # 기준 일 올림차순으로 정렬
date_1 = date_1.astype(int) # 데이터 타입이 문자열이라서 정수형으로 변경
date_1.info() # 데이터 타입 확인

<class 'pandas.core.frame.DataFrame'>
Index: 196 entries, 20210101 to 20210715
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   누적 검사 수     196 non-null    int64
 1   누적 검사 완료 수  196 non-null    int64
 2   치료 중 환자 수   196 non-null    int64
 3   격리 해제 수     196 non-null    int64
 4   사망자 수       196 non-null    int64
 5   확진자 수       196 non-null    int64
 6   검사 진행 후     196 non-null    int64
 7   결과 음성 수     196 non-null    int64
dtypes: int64(8)
memory usage: 13.8+ KB

In [92]:
import seaborn as sns
date_1.corr() # 데이터 상관관계 파악
date_1

           누적 검사 수  누적 검사 완료 수  치료 중 환자 수  ...   확진자 수  검사 진행 후   결과 음성 수
기준 일                                       ...
20210101   4269303     4092376      17884  ...   61754   176927   4030622
20210102   4302780     4123393      18054  ...   62574   179387   4060819
20210103   4340825     4154353      17762  ...   63231   186472   4091122
20210104   4376595     4185863      18030  ...   64251   190732   4121612
20210105   4439347     4245596      17786  ...   64965   193751   4180631
...            ...         ...        ...  ...     ...      ...       ...
20210711  10902278    10726216      12243  ...  168046   176062  10558170
20210712  10919898    10745227      12915  ...  169146   174671  10576081
20210713  10964299    10785169      13498  ...  170296   179130  10614873
20210714  11008859    10826954      14372  ...  171911   181905  10655043
20210715  11060456    10855977      14952  ...  173511   204479  10682466

[196 rows x 8 columns]

In [56]:
import requests
from chicken_dinner.pubgapi import PUBG

api_key = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJiMjc5MzJlMC1jN2ZiLTAxMzktZGUzYy02ZGEyYWJmMDNjYTciLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjI2Mzk1NzUxLCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InNjIn0.AuaP9LNsTVQDwazYuf8_DL9VCsNM0_aHqWmcmtBR_-Q"
pubg = PUBG(api_key=api_key, shard="kakao")

u_id = input('게임 닉네임을 입력해주세요 : ')

# Creates a Players instance (iterable Player instances)
players = pubg.players_from_names(u_id)

# Take the first Player instance from the iterable
u_id = players[0]

print(u_id.name)
# chocoTaco

print(u_id.match_ids)
# ['e0b3cb15-929f-4b42-8873-68a8f9998d2b', 'dd25cf69-77f1-4791-9b14-657e904d3534'...

print(u_id.id)
# 'account.15cbf322a9bc45e88b0cd9f12ef4188e'

print(u_id.url)

RedBullKR
['3f924838-6251-4360-b6e7-149927c7da34', '15dcb8f8-92a1-4106-896b-6b6b3286da68', 'b13234cd-916e-4a5b-b09d-21f4d6824e64', 'f9bbf947-b263-4a7f-ad02-518e3e205a52', 'c71bbc13-3183-458d-a49c-172dcb2d9340', '80ec9d10-9eb2-4fe2-a4cd-a9a10f5868b8']
account.97b350c23ab74daf9c0602b146043d15
https://api.pubg.com/shards/kakao/players/account.97b350c23ab74daf9c0602b146043d15

In [61]:
import requests # 주말에 전적 분석 모델 만들기
u_id = 'RedBullKR'

url = "https://api.playbattlegrounds.com/shards/kakao/players?filter[playerNames]=" + u_id

header = {
  "Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJiMjc5MzJlMC1jN2ZiLTAxMzktZGUzYy02ZGEyYWJmMDNjYTciLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNjI2Mzk1NzUxLCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6InNjIn0.AuaP9LNsTVQDwazYuf8_DL9VCsNM0_aHqWmcmtBR_-Q",
  "Accept": "application/vnd.api+json"
}

r = requests.get(url, headers=header)
r.text

'{"data":[{"type":"player","id":"account.97b350c23ab74daf9c0602b146043d15","attributes":{"patchVersion":"","name":"RedBullKR","stats":null,"titleId":"pubg","shardId":"kakao"},"relationships":{"assets":{"data":[]},"matches":{"data":[{"type":"match","id":"3f924838-6251-4360-b6e7-149927c7da34"},{"type":"match","id":"15dcb8f8-92a1-4106-896b-6b6b3286da68"},{"type":"match","id":"b13234cd-916e-4a5b-b09d-21f4d6824e64"},{"type":"match","id":"f9bbf947-b263-4a7f-ad02-518e3e205a52"},{"type":"match","id":"c71bbc13-3183-458d-a49c-172dcb2d9340"},{"type":"match","id":"80ec9d10-9eb2-4fe2-a4cd-a9a10f5868b8"}]}},"links":{"self":"https://api.pubg.com/shards/kakao/players/account.97b350c23ab74daf9c0602b146043d15","schema":""}}],"links":{"self":"https://api.playbattlegrounds.com/shards/kakao/players?filter[playerNames]=RedBullKR"},"meta":{}}'