In [2]:
#연습문제 1 3가지 과목의 평균
kor = 80
eng = 75
math = 55
avg = (kor + eng + math) / 3
print(avg)

70.0

In [6]:
#연습문제 2 짝수 홀수를 판별할 수 있는 방법
a = 13
if a % 2 == 0 :
    print('짝수 입니다')
else :
    print('홀수 입니다')

홀수 입니다

In [13]:
#연습문제 3 생년월일과 일련번호를 분리해 출력
pin = "881120-1068234"
yyyymmdd = pin[7:]
num = pin[:6]
print(yyyymmdd)
print(num)

1068234
881120

In [29]:
#연습문제 4 주민등록번호로 성별을 구별하시오
pin = "881120-1068234"
print(pin[-7])

a = pin[-7]
b = int(a)
if b - 1 == 0 :
    print('남성')
else :
    print('여성')

1
남성

In [32]:
#연습문제 5 a:b:c:d 를 a#b#c#d로 바꾸시오
a = 'a:b:c:d'
b = a.replace(':','#')
print(b)

a#b#c#d

In [30]:
#연습문제 6 [1,3,5,4,2]리스트를 [5,4,3,2,1] 로 변환
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [34]:
#연습문제 7 a를 사이에 공백이 있는 문자열로 바꾸어 출력하시오
a = ['Life', 'is', 'too', 'short']
r = ' '.join(a)
print(a)
print(r)

['Life', 'is', 'too', 'short']
Life is too short

In [37]:
#연습문제 8 (1,2,3) 튜플 값에 4를 추가하시오
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

In [2]:
# Q. 내장함수를 이용해서 list = [0, 1, 2, 3, 4, 5, 6]에서 2를 삭제 후 출력하세요.

In [3]:
li = [0, 1, 2, 3, 4, 5, 6]
li.remove(2)
li

[0, 1, 3, 4, 5, 6]

In [4]:
# Q. 내장함수를 이용해서 list = [0, 1, 2, 3, 4, 5, 6]에서 모든 원소를 삭제 후 
# 출력하세요.

In [5]:
li = [0, 1, 2, 3, 4, 5, 6]
del li[:]
li

[]

In [14]:
# Q. list = [0, 1, 2, 3, 4, 5, 6]에 3, 7이 포함되어 있는 지 확인하세요.
li = [0, 1, 2, 3, 4, 5, 6]
def imp(a):
    if a == 3 :
        print('3이 포함되어 있습니다.')
    elif a == 7 :
        print('7이 포함되어 있습니다.')
    else :
        print('해당하지 않습니다.')
        
print(list(map(imp,li)))

해당하지 않습니다.
해당하지 않습니다.
해당하지 않습니다.
3이 포함되어 있습니다.
해당하지 않습니다.
해당하지 않습니다.
해당하지 않습니다.
[None, None, None, None, None, None, None]

In [17]:
# Q. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [20]:
for i in range(numbers):
    num = numbers.count(a)
    print(co)

TypeError: 'list' object cannot be interpreted as an integer

In [24]:
li = ['a','b','c']
for i in li :
    print('{}번째는 {}입니다'.format(li.index(i),i))

0번째는 a입니다
1번째는 b입니다
2번째는 c입니다

In [16]:
# Q. 아래를 완성하여 2를 출력하세요.
a = 3
def vartest(a):
    a -= 1
    return a
vartest(a)

2